body {
    background-color: #b6b6b6; 
    color: white; 
    font-family: Arial, sans-serif;
    text-align: center; 
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.card {
    background-color: #5b5b5b; 
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

#zagolovok {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.podzagolovok {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.opisanie {
    font-size: 14px;
    font-style: italic;
    color: white;
}